<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE><%= config.site_name %></TITLE>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 <link href="/style/index/style.css" rel="stylesheet" type="text/css">
 <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7/jquery.min.js"></script>
 </HEAD>

 <BODY>
	<div class="db">
    	<div class="site-layout">
            <ul>
            	<li><a href="./">校园卡信息</li>
                <li><a href="./cardnew">校园卡办理</a></li>
                <li><a href="./cardreport">校园卡挂失</a></li>
                <li><a href="./cardsearch">学生信息查询</a></li>
            </ul>
        </div>
	</div>
	<div>
		<%- body %>
	</div>
 </BODY>
</HTML>

